# História das Olimpíadas  
_(créditos ao prof. Rafael Moreira)_

Após um ano de atraso por conta da pandemia de Covid-19, as atenções do mundo todo se voltaram para Tóquio, no Japão, para acompanhar mais uma edição das Olimpíadas.

No Brasil não foi diferente, e muitos se uniram para torcer por nossos atletas em diferentes competições, tanto em esportes onde o Brasil já possui tradição quanto em novos esportes.

Vamos aproveitar o clima para estudar um pouco das Olimpíadas! Utilizaremos um _dataset_ com 120 anos de dados históricos das Olimpíadas, cobrindo desde os jogos de Atenas 1896 até Rio 2016. 

Faça o download do _dataset_ em https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results e carregue o arquivo ```athlete_events.csv``` para um DataFrame utilizando Pandas. Aproveite para explorar seu DataFrame e se familiarizar com a sua estrutura. 

OBS: Fique à vontade para acrescentar mais células Python conforme necessário em qualquer etapa do exercício.

## 1. O Brasil nas Olimpíadas

Vamos começar estudando o desempenho do nossos próprio país. Gere um DataFrame novo contendo apenas as informações sobre atletas brasileiros.

In [14]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\lucas\anaconda3\lib\site-packages (1.2.4)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\lucas\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\lucas\anaconda3\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: numpy>=1.16.5 in c:\users\lucas\anaconda3\lib\site-packages (from pandas) (1.20.1)
Requirement already satisfied: six>=1.5 in c:\users\lucas\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [15]:
import pandas as pd

In [16]:
df = pd.read_csv('../data/athlete_events.csv')

brazil = df.loc[df['Team'] == 'Brazil']

brazil.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
665,386,Alexandre Abeid,M,22.0,194.0,92.0,Brazil,BRA,1972 Summer,1972,Summer,Munich,Volleyball,Volleyball Men's Volleyball,NaN
666,386,Alexandre Abeid,M,26.0,194.0,92.0,Brazil,BRA,1976 Summer,1976,Summer,Montreal,Volleyball,Volleyball Men's Volleyball,NaN
668,388,Abel Carlos da Silva Braga,M,19.0,190.0,73.0,Brazil,BRA,1972 Summer,1972,Summer,Munich,Football,Football Men's Football,NaN
781,451,Diana Monteiro Abla,F,21.0,175.0,75.0,Brazil,BRA,2016 Summer,2016,Summer,Rio de Janeiro,Water Polo,Water Polo Women's Water Polo,NaN
1005,565,Glauclio Serro Abreu,M,26.0,185.0,75.0,Brazil,BRA,2004 Summer,2004,Summer,Athina,Boxing,Boxing Men's Middleweight,NaN

### Medalhistas

Vamos focar um pouco nos casos de sucesso do Brasil. Use o seu DataFrame anterior para filtrar apenas informações sobre **medalhistas** brasileiros. 

**DICA:** observe como a coluna ```Medal``` é representada quando o atleta não ganhou medalha.

In [17]:
brazil_with_medals = brazil.dropna(subset = ['Medal'])

brazil_with_medals.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
1651,918,Ademir Roque Kaefer,M,24.0,179.0,74.0,Brazil,BRA,1984 Summer,1984,Summer,Los Angeles,Football,Football Men's Football,Silver
1652,918,Ademir Roque Kaefer,M,28.0,179.0,74.0,Brazil,BRA,1988 Summer,1988,Summer,Seoul,Football,Football Men's Football,Silver
1668,925,Adenzia Aparecida Ferreira da Silva,F,25.0,187.0,65.0,Brazil,BRA,2012 Summer,2012,Summer,London,Volleyball,Volleyball Women's Volleyball,Gold
1733,966,Daniel Adler,M,26.0,180.0,72.0,Brazil,BRA,1984 Summer,1984,Summer,Los Angeles,Sailing,Sailing Mixed Three Person Keelboat,Silver
1856,1020,Adriana Aparecida dos Santos,F,25.0,180.0,61.0,Brazil,BRA,1996 Summer,1996,Summer,Atlanta,Basketball,Basketball Women's Basketball,Silver

### Verão vs Inverno

Você deve ter notado que temos duas categorias distintas de jogos olímpicos, representados pela estação: temos os jogos de verão e os jogos de inverno, que ocorrem de maneira intercalada.

Agora que já conhecemos os medalhistas brasileiros, resposta: quantos atletas brasileiros receberam medalha nos jogos de verão e quantos receberam nos jogos de inverno?

In [18]:
brazil_with_medals.groupby(['Season']).size()

Season
Summer    449
dtype: int64

Os jogos de verão são bem mais populares do que os jogos de inverno no Brasil. Portanto, deste ponto em diante iremos focar apenas nos jogos de verão. Descarte de seu DataFrame os dados dos jogos de inverno.

In [19]:
brazil_with_medals_summer = brazil_with_medals.loc[brazil_with_medals['Season'] == 'Summer']

brazil_with_medals_summer.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
1651,918,Ademir Roque Kaefer,M,24.0,179.0,74.0,Brazil,BRA,1984 Summer,1984,Summer,Los Angeles,Football,Football Men's Football,Silver
1652,918,Ademir Roque Kaefer,M,28.0,179.0,74.0,Brazil,BRA,1988 Summer,1988,Summer,Seoul,Football,Football Men's Football,Silver
1668,925,Adenzia Aparecida Ferreira da Silva,F,25.0,187.0,65.0,Brazil,BRA,2012 Summer,2012,Summer,London,Volleyball,Volleyball Women's Volleyball,Gold
1733,966,Daniel Adler,M,26.0,180.0,72.0,Brazil,BRA,1984 Summer,1984,Summer,Los Angeles,Sailing,Sailing Mixed Three Person Keelboat,Silver
1856,1020,Adriana Aparecida dos Santos,F,25.0,180.0,61.0,Brazil,BRA,1996 Summer,1996,Summer,Atlanta,Basketball,Basketball Women's Basketball,Silver

### Atletas do Brasil

Vamos conhecer um pouco melhor nossos atletas. Descubra a altura e peso médio de nossos medalhistas.

Imaginamos que diferentes esportes podem beneficiar diferentes tipos físicos, certo? Então refaça a análise anterior, mas obtendo os valores médios **por esporte**.

In [20]:
print(f'Altura media: {round(brazil_with_medals_summer["Height"].mean(), 2)} cm')
print(f'Peso medio: {round(brazil_with_medals_summer["Weight"].mean(), 2)} Kg')

Altura media: 182.36 cm
Peso medio: 76.62 Kg

In [21]:
brazil_with_medals_summer_groupby_sport_height = round(brazil_with_medals_summer.groupby(["Sport"])["Height"].mean(), 2)

print(f'Altura media por esporte:\n {brazil_with_medals_summer_groupby_sport_height}')

Altura media por esporte:
 Sport
Athletics            181.00
Basketball           185.61
Boxing               170.00
Canoeing             175.00
Equestrianism        179.67
Football             175.80
Gymnastics           162.75
Judo                 176.67
Modern Pentathlon    166.00
Sailing              181.59
Shooting             175.00
Swimming             189.11
Taekwondo            184.00
Volleyball           190.59
Name: Height, dtype: float64

In [22]:
brazil_with_medals_summer_groupby_sport_weight = round(brazil_with_medals_summer.groupby(["Sport"])["Weight"].mean(), 2)

print(f'Peso medio por esporte:\n {brazil_with_medals_summer_groupby_sport_weight}')

Peso medio por esporte:
 Sport
Athletics            74.58
Basketball           78.48
Boxing               64.00
Canoeing             83.25
Equestrianism        75.00
Football             69.96
Gymnastics           63.75
Judo                 86.29
Modern Pentathlon    55.00
Sailing              80.41
Shooting             69.00
Swimming             81.56
Taekwondo            79.50
Volleyball           81.17
Name: Weight, dtype: float64

Será que os dados acima influenciaram no interesse geral dos atletas pelo esporte ou realmente impactaram no desempenho deles? Podemos tentar descobrir se há algum tipo de correlação.

Você ainda possui o dataframe original contendo todos os atletas brasileiros, incluindo os sem medalha? Obtenha os valores médios de peso e altura por esporte daquele dataframe e compare-o com os dos medalhistas. Há alguma diferença significativa em algum esporte?

In [23]:
brazil_summer = brazil.loc[brazil['Season'] == 'Summer']

brazil_summer_groupby_sport_weight = round(brazil_summer.groupby(["Sport"])["Weight"].mean(), 2)

series = {
    'With Medals': brazil_with_medals_summer_groupby_sport_weight,
    'Without Medals': brazil_summer_groupby_sport_weight
}

pd.DataFrame(series)

                       With Medals  Without Medals
Sport
Archery                        NaN           71.70
Art Competitions               NaN             NaN
Athletics                    74.58           67.80
Badminton                      NaN           74.00
Basketball                   78.48           85.90
Boxing                       64.00           64.11
Canoeing                     83.25           77.40
Cycling                        NaN           66.87
Diving                         NaN           64.97
Equestrianism                75.00           72.31
Fencing                        NaN           73.36
Football                     69.96           67.76
Golf                           NaN           62.00
Gymnastics                   63.75           52.46
Handball                       NaN           80.77
Hockey                         NaN           76.12
Judo                         86.29           80.29
Modern Pentathlon            55.00           60.67
Rhythmic Gymnastics            NaN           48.16
Rowing                         NaN           80.09
Rugby Sevens                   NaN           72.88
Sailing                      80.41           76.81
Shooting                     69.00           76.92
Swimming                     81.56           74.59
Synchronized Swimming          NaN           57.42
Table Tennis                   NaN           64.18
Taekwondo                    79.50           63.62
Tennis                         NaN           72.22
Trampolining                   NaN           58.00
Triathlon                      NaN           64.40
Volleyball                   81.17           78.85
Water Polo                     NaN           81.47
Weightlifting                  NaN           85.64
Wrestling                      NaN           83.15

In [24]:
brazil_summer = brazil.loc[brazil['Season'] == 'Summer']

brazil_summer_groupby_sport_height = round(brazil_summer.groupby(["Sport"])["Height"].mean(), 2)

series = {
    'With Medals': brazil_with_medals_summer_groupby_sport_height,
    'Without Medals': brazil_summer_groupby_sport_height
}

pd.DataFrame(series)

                       With Medals  Without Medals
Sport
Archery                        NaN          172.60
Art Competitions               NaN             NaN
Athletics                   181.00          176.20
Badminton                      NaN          175.50
Basketball                  185.61          190.91
Boxing                      170.00          171.99
Canoeing                    175.00          177.79
Cycling                        NaN          174.24
Diving                         NaN          167.44
Equestrianism               179.67          177.43
Fencing                        NaN          179.20
Football                    175.80          173.37
Golf                           NaN          170.00
Gymnastics                  162.75          157.27
Handball                       NaN          181.47
Hockey                         NaN          177.44
Judo                        176.67          173.93
Modern Pentathlon           166.00          168.60
Rhythmic Gymnastics            NaN          164.16
Rowing                         NaN          180.55
Rugby Sevens                   NaN          171.24
Sailing                     181.59          179.59
Shooting                    175.00          174.04
Swimming                    189.11          181.18
Synchronized Swimming          NaN          168.46
Table Tennis                   NaN          169.73
Taekwondo                   184.00          173.77
Tennis                         NaN          182.62
Trampolining                   NaN          168.00
Triathlon                      NaN          175.80
Volleyball                  190.59          187.76
Water Polo                     NaN          179.89
Weightlifting                  NaN          169.91
Wrestling                      NaN          176.23

Existe um detalhe importante passando batido até agora em nossa análise: as categorias esportivas costumam ser divididas por gênero justamente por conta de diferenças físicas entre homens e mulheres que poderiam influenciar no desempenho. Compare a altura e peso médios de atletas brasileiros por esporte segmentado por sexo.

In [25]:
brazil_summer_groupby_sport_and_sex_height = round(brazil_summer.groupby(["Sport", "Sex"])["Height"].mean(), 2)
brazil_summer_groupby_sport_and_sex_height

Sport             Sex
Archery           F      162.86
                  M      177.85
Art Competitions  M         NaN
Athletics         F      167.49
                  M      180.07
                          ...
Water Polo        M      181.42
Weightlifting     F      161.50
                  M      171.78
Wrestling         F      169.33
                  M      182.14
Name: Height, Length: 63, dtype: float64

In [26]:
brazil_summer_groupby_sport_and_sex_weight = round(brazil_summer.groupby(["Sport", "Sex"])["Weight"].mean(), 2)
brazil_summer_groupby_sport_and_sex_weight

Sport             Sex
Archery           F      59.71
                  M      78.15
Art Competitions  M        NaN
Athletics         F      59.81
                  M      71.55
                         ...
Water Polo        M      85.72
Weightlifting     F      62.75
                  M      90.00
Wrestling         F      66.67
                  M      97.29
Name: Weight, Length: 63, dtype: float64

Qual foi (ou quais foram) o maior medalhista brasileiro em quantidade total de medalhas?

In [27]:
brazil_with_medals['Name'].value_counts()[brazil_with_medals['Name'].value_counts() == brazil_with_medals['Name'].value_counts().max()]

Torben Schmidt Grael    5
Robert Scheidt          5
Name: Name, dtype: int64

E o(s) maior(es) em quantidade de medalhas de ouro?

In [28]:
brazil_with_medals_only_golds = brazil_with_medals[brazil_with_medals['Medal'] == 'Gold']

brazil_with_medals_only_golds['Name'].value_counts()[brazil_with_medals_only_golds['Name'].value_counts() == brazil_with_medals_only_golds['Name'].value_counts().max()]

Jaqueline Maria "Jaque" Pereira de Carvalho Endres    2
Paula Renata Marques Pequeno                          2
Giovane Farinazzo Gvio                                2
Adhemar Ferreira da Silva                             2
Torben Schmidt Grael                                  2
Marcelo Bastos Ferreira                               2
Fabiana Marcelino Claudino                            2
Maurcio Camargo Lima                                  2
Robert Scheidt                                        2
Sheilla Tavares de Castro Blassioli                   2
Thasa Daher de Menezes                                2
Srgio "Escadinha" Dutra dos Santos                    2
Fabiana "Fabi" Alvim de Oliveira                      2
Name: Name, dtype: int64

Qual esporte rendeu mais medalhas de ouro para o Brasil? E qual rendeu mais medalhas no total?

**DICA:** tome muito cuidado nessa análise: cada **evento esportivo** rende 1 medalha. Por exemplo, quando a equipe de futebol vence, isso é considerado 1 medalha, mesmo tendo cerca de 20 atletas medalhistas na equipe.

In [30]:
brazil_with_medals_groupby_sport = brazil_with_medals.groupby(by=['Sport', 'Event', 'Year']).size()

brazil_with_medals_groupby_sport_cumcount = brazil_with_medals_groupby_sport.groupby('Sport').cumcount() + 1

brazil_with_medals_groupby_sport_cumcount.max()

22

Cada "categoria" dentro de um esporte é considerado um evento. Por exemplo, dentro de "atletismo", temos uma competição de 100m masculina, uma de 100m feminino, um revezamento 4 x 100m masculino, um revezamento 4 x 100m feminino, uma competição de 400m masculino, uma de 400m feminino, uma maratona masculina, uma maratona feminina, e assim sucessivamente.

Sabendo disso, qual evento esportivo mais rendeu medalhas de ouro para o Brasil? E total de medalhas?

In [439]:
brazil_with_medals_groupby_event_and_year = brazil_with_medals.groupby(by=['Event', 'Year']).size()

brazil_with_medals_groupby_event_cumcount = brazil_with_medals_groupby_event_and_year.groupby('Event').cumcount() + 1

max_event = brazil_with_medals_groupby_event_cumcount.max()

max_events = brazil_with_medals_groupby_event_cumcount[brazil_with_medals_groupby_event_cumcount == max_event]

max_events_names = [event_name[0] for event_name in max_events.index]

max_events_names

["Athletics Men's Triple Jump",
 "Football Men's Football",
 "Volleyball Men's Volleyball"]

Para finalizar sobre o Brasil: obtenha o total de medalhas de ouro, prata, bronze e total por ano.

In [440]:
brazil_with_medals_by_gold = brazil_with_medals[(brazil_with_medals.Medal == 'Gold')]

brazil_with_medals_by_gold = brazil_with_medals_by_gold.groupby(['Sport', 'Event', 'Year'])['Medal'].size()

brazil_with_medals_by_gold = brazil_with_medals_by_gold.groupby('Sport').cumcount() + 1

print(f'Quantidade de medalhas de ouro do Brasil: {len(brazil_with_medals_by_gold)}')

Quantidade de medalhas de ouro do Brasil: 27

In [441]:
brazil_with_medals_by_silver = df.loc[(df['Team'] == 'Brazil') & (df['Medal'] == 'Silver')]

brazil_with_medals_by_silver = brazil_with_medals_by_silver.groupby(['Sport', 'Event', 'Year'])['Medal'].size()

brazil_with_medals_by_silver = brazil_with_medals_by_silver.groupby('Sport').cumcount() + 1

print(f'Quantidade de medalhas de prata do Brasil: {len(brazil_with_medals_by_silver)}')

Quantidade de medalhas de prata do Brasil: 29

In [442]:
brazil_with_medals_by_bronze = df.loc[(df['Team'] == 'Brazil') & (df['Medal'] == 'Bronze')]

brazil_with_medals_by_bronze = brazil_with_medals_by_bronze.groupby(['Sport', 'Event', 'Year'])['Medal'].size()

brazil_with_medals_by_bronze = brazil_with_medals_by_bronze.groupby('Sport').cumcount() + 1

print(f'Quantidade de medalhas de bronze do Brasil: {len(brazil_with_medals_by_bronze)}')

Quantidade de medalhas de bronze do Brasil: 59

## 2. O mundo nos jogos de verão

Vamos agora analisar um pouquinho do que aconteceu nas Olimpíadas de verão em todo o mundo.

Retome o DataFrame original e descarte as informações sobre os jogos de inverno.

In [443]:
summer = df.loc[df['Season'] == 'Summer']

summer.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
26,8,"Cornelia ""Cor"" Aalten (-Strannood)",F,18.0,168.0,NaN,Netherlands,NED,1932 Summer,1932,Summer,Los Angeles,Athletics,Athletics Women's 100 metres,NaN

Obtenha a lista de todos os esportes já disputados nas olimpíadas de verão.

In [444]:
summer['Sport'].unique()

array(['Basketball', 'Judo', 'Football', 'Tug-Of-War', 'Athletics',
       'Swimming', 'Badminton', 'Sailing', 'Gymnastics',
       'Art Competitions', 'Handball', 'Weightlifting', 'Wrestling',
       'Water Polo', 'Hockey', 'Rowing', 'Fencing', 'Equestrianism',
       'Shooting', 'Boxing', 'Taekwondo', 'Cycling', 'Diving', 'Canoeing',
       'Tennis', 'Modern Pentathlon', 'Golf', 'Softball', 'Archery',
       'Volleyball', 'Synchronized Swimming', 'Table Tennis', 'Baseball',
       'Rhythmic Gymnastics', 'Rugby Sevens', 'Trampolining',
       'Beach Volleyball', 'Triathlon', 'Rugby', 'Lacrosse', 'Polo',
       'Cricket', 'Ice Hockey', 'Racquets', 'Motorboating', 'Croquet',
       'Figure Skating', 'Jeu De Paume', 'Roque', 'Basque Pelota',
       'Alpinism', 'Aeronautics'], dtype=object)

Obtenha a lista de todas as modalidades esportivas já disputadas nas olimpíadas de verão.

In [445]:
summer['Event'].unique()

array(["Basketball Men's Basketball", "Judo Men's Extra-Lightweight",
       "Football Men's Football", "Tug-Of-War Men's Tug-Of-War",
       "Athletics Women's 100 metres",
       "Athletics Women's 4 x 100 metres Relay",
       "Swimming Men's 400 metres Freestyle", "Badminton Men's Singles",
       "Sailing Women's Windsurfer",
       "Swimming Men's 200 metres Breaststroke",
       "Swimming Men's 400 metres Breaststroke",
       "Gymnastics Men's Individual All-Around",
       "Gymnastics Men's Team All-Around",
       "Gymnastics Men's Floor Exercise", "Gymnastics Men's Horse Vault",
       "Gymnastics Men's Parallel Bars",
       "Gymnastics Men's Horizontal Bar", "Gymnastics Men's Rings",
       "Gymnastics Men's Pommelled Horse", "Athletics Men's Shot Put",
       'Art Competitions Mixed Sculpturing, Unknown Event',
       "Handball Women's Handball",
       "Weightlifting Women's Super-Heavyweight",
       "Wrestling Men's Light-Heavyweight, Greco-Roman",
       "Gymnastics Men's Team All-Around, Free System",
       "Water Polo Men's Water Polo",
       'Sailing Mixed Three Person Keelboat', "Hockey Women's Hockey",
       "Rowing Men's Lightweight Double Sculls",
       "Athletics Men's Pole Vault", "Athletics Men's High Jump",
       "Sailing Men's Two Person Dinghy", "Athletics Men's 1,500 metres",
       "Swimming Men's 100 metres Butterfly",
       "Swimming Men's 200 metres Butterfly",
       "Swimming Men's 4 x 100 metres Medley Relay",
       "Football Women's Football", "Fencing Men's Foil, Individual",
       "Fencing Men's epee, Individual", "Fencing Men's epee, Team",
       'Sailing Mixed 8 metres',
       'Equestrianism Mixed Jumping, Individual',
       "Shooting Men's Small-Bore Rifle, Prone, 50 metres",
       "Shooting Men's Rapid-Fire Pistol, 25 metres",
       "Shooting Men's Trap", "Athletics Men's 4 x 100 metres Relay",
       "Athletics Men's Long Jump", "Boxing Men's Light-Welterweight",
       "Athletics Women's Javelin Throw",
       "Wrestling Men's Heavyweight, Freestyle",
       "Taekwondo Men's Flyweight", "Boxing Men's Heavyweight",
       "Athletics Men's 5,000 metres",
       "Cycling Men's Road Race, Individual",
       "Cycling Men's Road Race, Team", "Weightlifting Men's Lightweight",
       "Weightlifting Men's Middleweight", "Rowing Men's Coxless Pairs",
       "Judo Men's Half-Middleweight", "Taekwondo Women's Flyweight",
       "Boxing Men's Flyweight", "Basketball Women's Basketball",
       "Diving Men's Platform",
       "Canoeing Men's Canadian Doubles, 500 metres",
       "Canoeing Men's Canadian Doubles, 1,000 metres",
       "Canoeing Men's Kayak Fours, 1,000 metres",
       "Handball Men's Handball", "Rowing Women's Coxless Pairs",
       "Boxing Men's Middleweight", "Judo Men's Lightweight",
       "Boxing Men's Featherweight", "Tennis Men's Doubles",
       'Shooting Mixed Skeet', "Wrestling Men's Featherweight, Freestyle",
       'Sailing Mixed Two Person Heavyweight Dinghy',
       "Athletics Women's Shot Put", "Rowing Men's Coxed Eights",
       "Cycling Women's Sprint", "Cycling Women's 500 metres Time Trial",
       "Athletics Men's 110 metres Hurdles", 'Shooting Mixed Trap',
       "Athletics Women's Marathon", "Athletics Men's 100 metres",
       "Fencing Men's Foil, Team", "Fencing Men's Sabre, Team",
       "Swimming Men's 100 metres Freestyle",
       "Swimming Men's 4 x 200 metres Freestyle Relay",
       "Boxing Men's Lightweight", "Modern Pentathlon Men's Individual",
       "Boxing Men's Welterweight", "Rowing Men's Quadruple Sculls",
       "Rowing Men's Double Sculls", "Rowing Men's Coxed Pairs",
       "Athletics Men's 400 metres Hurdles", "Athletics Men's 400 metres",
       "Athletics Men's Hammer Throw",
       "Weightlifting Men's Featherweight", "Athletics Men's 800 metres",
       "Hockey Men's Hockey", "Rowing Women's Single Sculls",
       "Swimming Men's 50 metres Freestyle",
       "Weightlifting Women's Featherweight",
       "Water Polo Women's Water Polo", "Weightlifting Men's Heavyweight",
       'Equestrianism Mixed Three-Day Event, Individual',
       'Equestrianism Mixed Three-Day Event, Team',
       "Sailing Women's Three Person Keelboat",
       "Cycling Women's Road Race, Individual", "Golf Women's Individual",
       "Softball Women's Softball", "Archery Women's Individual",
       "Wrestling Men's Heavyweight, Greco-Roman",
       "Volleyball Men's Volleyball", "Taekwondo Women's Heavyweight",
       "Synchronized Swimming Women's Duet",
       "Synchronized Swimming Women's Team",
       "Taekwondo Women's Featherweight", "Athletics Men's Marathon",
       "Athletics Men's 4 x 400 metres Relay",
       "Athletics Men's 10,000 metres", "Athletics Women's 3,000 metres",
       "Diving Women's Platform", "Shooting Men's Air Rifle, 10 metres",
       "Athletics Men's 200 metres", "Weightlifting Men's Flyweight",
       "Swimming Men's 100 metres Backstroke",
       "Weightlifting Men's Light-Heavyweight",
       "Wrestling Men's Lightweight, Greco-Roman",
       "Fencing Men's Sabre, Individual",
       "Wrestling Men's Super-Heavyweight, Greco-Roman",
       "Shooting Men's Free Pistol, 50 metres",
       "Shooting Men's Air Pistol, 10 metres",
       "Rowing Men's Coxless Fours", "Boxing Men's Light-Flyweight",
       "Boxing Men's Super-Heavyweight",
       "Wrestling Men's Flyweight, Greco-Roman",
       "Shooting Women's Air Rifle, 10 metres",
       "Weightlifting Men's Middle-Heavyweight",
       "Athletics Men's Javelin Throw", "Volleyball Women's Volleyball",
       "Wrestling Men's Welterweight, Greco-Roman",
       "Wrestling Men's Middleweight, Greco-Roman",
       "Athletics Men's 3,000 metres Steeplechase",
       "Wrestling Men's Middleweight, Freestyle",
       "Swimming Women's 100 metres Backstroke",
       "Swimming Women's 200 metres Backstroke",
       "Swimming Women's 4 x 100 metres Medley Relay",
       "Wrestling Men's Light-Heavyweight, Freestyle",
       "Modern Pentathlon Men's Team", "Boxing Men's Bantamweight",
       "Athletics Women's 200 metres", "Table Tennis Women's Singles",
       "Table Tennis Women's Doubles", "Shooting Men's Skeet",
       "Swimming Women's 50 metres Freestyle",
       "Shooting Men's Small-Bore Rifle, Three Positions, 50 metres",
       "Athletics Men's Triple Jump", "Weightlifting Women's Lightweight",
       "Athletics Women's Long Jump", "Fencing Women's epee, Individual",
       "Swimming Men's 200 metres Freestyle",
       "Swimming Men's 4 x 100 metres Freestyle Relay",
       "Swimming Men's 200 metres Backstroke",
       "Swimming Men's 200 metres Individual Medley",
       "Swimming Men's 400 metres Individual Medley",
       "Badminton Women's Singles", "Boxing Men's Light-Middleweight",
       "Tennis Men's Singles", "Wrestling Men's Bantamweight, Freestyle",
       "Wrestling Men's Flyweight, Freestyle",
       "Athletics Women's 5,000 metres",
       "Weightlifting Women's Light-Heavyweight",
       "Weightlifting Women's Heavyweight",
       "Athletics Men's Discus Throw", "Taekwondo Men's Featherweight",
       "Taekwondo Men's Welterweight", "Judo Men's Heavyweight",
       "Cycling Men's Sprint", "Wrestling Men's Lightweight, Freestyle",
       "Baseball Men's Baseball", "Rowing Men's Coxed Fours",
       "Cycling Men's 100 kilometres Team Time Trial",
       "Rhythmic Gymnastics Women's Group",
       'Art Competitions Mixed Architecture, Designs For Town Planning',
       'Art Competitions Mixed Architecture, Architectural Designs',
       "Gymnastics Women's Individual All-Around",
       "Gymnastics Women's Team All-Around",
       "Gymnastics Women's Floor Exercise",
       "Gymnastics Women's Horse Vault", "Gymnastics Women's Uneven Bars",
       "Gymnastics Women's Balance Beam", "Diving Women's Springboard",
       "Diving Women's Synchronized Springboard",
       "Athletics Women's 10,000 metres", 'Sailing Mixed 7 metres',
       "Judo Women's Half-Middleweight", "Athletics Men's Decathlon",
       "Wrestling Men's Middleweight A, Greco-Roman",
       "Athletics Women's Discus Throw",
       "Swimming Women's 4 x 100 metres Freestyle Relay",
       "Athletics Women's 1,500 metres",
       "Shooting Women's Air Pistol, 10 metres",
       "Shooting Women's Sporting Pistol, 25 metres",
       "Canoeing Men's Kayak Doubles, 500 metres",
       "Canoeing Men's Kayak Singles, 500 metres",
       "Canoeing Men's Kayak Singles, 1,000 metres",
       "Shooting Men's Running Target, 50 metres",
       "Judo Women's Half-Heavyweight", "Athletics Women's Pole Vault",
       "Rugby Sevens Women's Rugby Sevens", "Table Tennis Men's Team",
       "Rowing Women's Coxed Eights",
       "Athletics Women's 4 x 400 metres Relay",
       "Cycling Men's 1,000 metres Time Trial",
       "Cycling Men's Individual Pursuit, 4,000 metres",
       "Wrestling Men's Welterweight, Freestyle",
       "Wrestling Men's Bantamweight, Greco-Roman",
       "Rowing Women's Lightweight Double Sculls",
       "Athletics Women's 800 metres",
       "Rowing Women's Coxed Quadruple Sculls",
       "Rhythmic Gymnastics Women's Individual",
       "Canoeing Men's Kayak Singles, Slalom", "Archery Men's Individual",
       "Archery Men's Team", "Athletics Women's 400 metres",
       "Trampolining Men's Individual",
       "Beach Volleyball Men's Beach Volleyball",
       "Cycling Women's Mountainbike, Cross-Country",
       "Athletics Men's Javelin Throw, Both Hands",
       "Triathlon Women's Olympic Distance",
       "Gymnastics Women's Team Portable Apparatus",
       "Cycling Men's Mountainbike, Cross-Country",
       "Athletics Women's 400 metres Hurdles", "Diving Men's Springboard",
       "Wrestling Men's Featherweight, Greco-Roman",
       "Table Tennis Men's Singles", 'Art Competitions Mixed Painting',
       "Judo Men's Open Class", "Rowing Women's Quadruple Sculls",
       "Gymnastics Men's Team All-Around, Swedish System",
       "Athletics Women's Pentathlon",
       'Art Competitions Mixed Painting, Unknown Event',
       "Cycling Men's Team Pursuit, 4,000 metres",
       "Weightlifting Women's Middleweight",
       "Swimming Men's 1,500 metres Freestyle",
       "Wrestling Women's Light-Heavyweight, Freestyle",
       "Swimming Women's 100 metres Freestyle",
       "Equestrianism Men's Jumping, Individual",
       "Equestrianism Men's Jumping, Team",
       "Equestrianism Men's Three-Day Event, Individual",
       "Equestrianism Men's Three-Day Event, Team",
       "Athletics Women's High Jump",
       "Canoeing Women's Kayak Fours, 500 metres",
       "Sailing Men's One Person Dinghy",
       "Trampolining Women's Individual",
       'Art Competitions Mixed Literature', "Judo Men's Middleweight",
       "Judo Men's Half-Lightweight", "Fencing Women's Foil, Team",
       "Swimming Women's 200 metres Butterfly",
       "Swimming Women's 400 metres Individual Medley",
       "Golf Men's Individual", "Athletics Men's Standing High Jump",
       "Athletics Men's Standing Long Jump",
       "Athletics Men's 20 kilometres Walk",
       "Swimming Men's 220 yard Freestyle",
       "Swimming Men's 880 yard Freestyle",
       "Swimming Men's One Mile Freestyle",
       "Swimming Men's 4 x 50 Yard Freestyle Relay",
       "Swimming Men's Plunge For Distance",
       "Shooting Men's Free Rifle, Three Positions, 300 metres",
       "Shooting Men's Military Rifle, Three Positions, 300 metres",
       "Shooting Men's Military Rifle, Any Position, 600 metres",
       "Shooting Men's Military Rifle, 200, 400, 500 and 600 metres, Team",
       "Shooting Men's Military Rifle, Prone, 300 metres",
       "Judo Men's Half-Heavyweight", "Archery Women's Team",
       "Athletics Men's 50 kilometres Walk",
       "Rowing Women's Double Sculls", 'Sailing Mixed 6 metres',
       "Boxing Men's Light-Heavyweight", "Boxing Women's Flyweight",
       "Athletics Women's 100 metres Hurdles",
       "Athletics Men's Discus Throw, Greek Style",
       'Sailing Mixed One Person Dinghy',
       "Wrestling Women's Heavyweight, Freestyle",
       'Badminton Mixed Doubles', "Fencing Women's Foil, Individual",
       'Sailing Mixed Two Person Keelboat',
       "Shooting Men's Military Rifle, 300 metres and 600 metres, Prone, Team",
       "Table Tennis Men's Doubles",
       "Wrestling Men's Light-Flyweight, Freestyle",
       "Wrestling Women's Featherweight, Freestyle",
       "Swimming Women's 200 metres Freestyle",
       "Swimming Women's 400 metres Freestyle",
       "Swimming Women's 200 metres Individual Medley",
       "Sailing Men's Windsurfer",
       "Shooting Men's Running Target, Single Shot",
       "Shooting Men's Running Target, Double Shot",
       "Rugby Sevens Men's Rugby Sevens",
       "Wrestling Women's Lightweight, Freestyle",
       "Modern Pentathlon Women's Individual",
       "Canoeing Men's Canadian Doubles, Slalom",
       "Judo Women's Half-Lightweight", "Diving Women's Plain High",
       "Equestrianism Men's Dressage, Individual",
       "Equestrianism Men's Dressage, Team",
       "Tennis Women's Singles, Covered Courts",
       "Diving Men's Plain High",
       'Shooting Mixed Small-Bore Rifle, Three Positions, 50 metres',
       'Shooting Mixed Small-Bore Rifle, Prone, 50 metres',
       "Swimming Women's 800 metres Freestyle",
       "Sailing Women's Two Person Dinghy",
       "Shooting Men's Free Pistol, 50 metres, Team",
       "Shooting Men's Free Rifle, Three Positions, 300 metres, Team",
       "Shooting Men's Military Rifle, Prone, 300 metres, Team",
       "Shooting Men's Military Rifle, Prone, 600 metres, Team",
       "Shooting Men's Military Rifle, Standing, 300 metres, Team",
       "Shooting Men's Free Rifle, Prone, 600 metres",
       "Shooting Men's Free Rifle, 400, 600 and 800 metres, Team",
       "Rowing Men's Single Sculls",
       "Cycling Men's Tandem Sprint, 2,000 metres",
       "Athletics Women's Heptathlon", "Cycling Men's Points Race",
       "Synchronized Swimming Women's Solo",
       'Equestrianism Mixed Dressage, Individual',
       'Equestrianism Mixed Dressage, Team',
       "Swimming Men's 100 metres Breaststroke",
       'Shooting Mixed Free Pistol, 50 metres', "Sailing Women's Skiff",
       "Canoeing Men's Kayak Doubles, 10,000 metres",
       "Triathlon Men's Olympic Distance",
       "Sailing Women's One Person Dinghy",
       "Rowing Men's 17-Man Naval Rowing Boats",
       "Beach Volleyball Women's Beach Volleyball",
       "Weightlifting Men's Super-Heavyweight",
       "Rowing Men's Lightweight Coxless Fours",
       "Wrestling Men's Light-Flyweight, Greco-Roman",
       "Canoeing Men's Canadian Singles, 1,000 metres",
       'Sailing Mixed 5.5 metres', 'Equestrianism Mixed Jumping, Team',
       "Diving Men's Synchronized Platform",
       "Canoeing Women's Kayak Singles, Slalom",
       "Weightlifting Women's Flyweight",
       "Swimming Women's 100 metres Breaststroke",
       "Swimming Women's 200 metres Breaststroke",
       "Wrestling Men's Middleweight B, Greco-Roman",
       "Athletics Men's Stone Throw",
       "Athletics Men's Javelin Throw, Freestyle",
       "Athletics Men's Pentathlon (Ancient)",
       "Shooting Women's Small-Bore Rifle, Three Positions, 50 metres",
       "Swimming Women's 100 metres Butterfly",
       "Weightlifting Men's Heavyweight I",
       "Athletics Women's 3,000 metres Steeplechase",
       "Athletics Men's Shot Put, Both Hands", "Shooting Women's Trap",
       "Badminton Men's Doubles",
       "Swimming Women's 4 x 200 metres Freestyle Relay",
       "Athletics Men's 10 kilometres Walk",
       "Athletics Women's 20 kilometres Walk",
       "Athletics Women's 80 metres Hurdles",
       "Sailing Men's One Person Heavyweight Dinghy",
       'Art Competitions Mixed Painting, Paintings',
       'Tennis Mixed Doubles, Covered Courts', "Cycling Men's Madison",
       'Art Competitions Mixed Sculpturing, Statues', "Rugby Men's Rugby",
       "Weightlifting Men's Heavyweight II",
       "Canoeing Women's Kayak Doubles, 500 metres",
       "Cycling Men's Individual Time Trial", "Judo Women's Heavyweight",
       "Canoeing Men's Kayak Doubles, 1,000 metres",
       "Gymnastics Men's Individual All-Around, 5 Events",
       "Wrestling Men's Super-Heavyweight, Freestyle",
       "Fencing Women's Sabre, Team", "Shooting Men's Double Trap",
       "Weightlifting Men's Bantamweight", "Taekwondo Men's Heavyweight",
       'Sailing Mixed Windsurfer', "Taekwondo Women's Welterweight",
       'Shooting Mixed Free Rifle, Three Positions, 300 metres',
       "Cycling Men's 50 kilometres",
       'Shooting Mixed Rapid-Fire Pistol, 25 metres',
       "Cycling Men's 333 metres Time Trial",
       "Cycling Men's 20 kilometres",
       "Canoeing Men's Kayak Singles, 10,000 metres",
       'Sailing Mixed Open', 'Sailing Mixed 1-2 Ton',
       "Canoeing Men's Canadian Singles, Slalom",
       'Sailing Mixed Multihull', "Badminton Women's Doubles",
       "Diving Women's Synchronized Platform",
       "Athletics Women's Triple Jump",
       'Art Competitions Mixed Painting, Drawings And Water Colors',
       "Shooting Men's Dueling Pistol, 30 metres",
       "Boxing Women's Lightweight", "Cycling Women's BMX",
       "Canoeing Men's Kayak Doubles, 200 metres",
       "Fencing Men's Sabre, Masters, Individual",
       "Lacrosse Men's Lacrosse",
       "Canoeing Women's Kayak Singles, 500 metres",
       "Athletics Women's 10 kilometres Walk", 'Sailing Mixed 12 metres',
       "Judo Women's Extra-Lightweight",
       "Diving Men's Synchronized Springboard",
       "Rowing Men's Coxed Fours, Outriggers",
       "Gymnastics Men's Rope Climbing",
       'Sailing Mixed Two Person Dinghy',
       'Art Competitions Mixed Architecture, Unknown Event',
       "Archery Men's Target Archery, 28 metres, Team",
       "Archery Men's Target Archery, 33 metres, Team",
       "Archery Men's Target Archery, 50 metres, Team",
       "Shooting Men's Running Target, 10 metres", "Polo Men's Polo",
       "Rowing Men's Coxed Fours, Inriggers", "Cycling Men's BMX",
       'Art Competitions Mixed Sculpturing',
       "Athletics Men's Cross-Country, Individual",
       "Athletics Men's Cross-Country, Team", 'Sailing Mixed 40 metres',
       "Gymnastics Men's Club Swinging", "Tennis Women's Singles",
       'Tennis Mixed Doubles', "Tennis Women's Doubles",
       "Judo Women's Middleweight", "Judo Women's Lightweight",
       "Canoeing Women's Kayak Singles, 200 metres",
       "Canoeing Men's Kayak Relay 4 x 500 metres",
       "Athletics Men's 3,000 metres, Team",
       "Shooting Men's Small-Bore Rifle, Prone, 50 and 100 yards",
       "Shooting Men's Small-Bore Rifle, 50 and 100 yards, Team",
       "Shooting Men's Small-Bore Rifle, Disappearing Target, 25 yards",
       "Shooting Men's Small-Bore Rifle, Moving Target, 25 yards",
       "Shooting Men's Military Pistol, Team",
       "Rowing Women's Coxed Fours",
       "Weightlifting Men's Unlimited, One Hand",
       "Canoeing Men's Canadian Singles, 500 metres",
       "Fencing Men's Foil, Masters, Individual",
       "Fencing Men's epee, Masters, Individual",
       "Gymnastics Men's Individual All-Around, Field Sports",
       "Gymnastics Men's Individual All-Around, Apparatus Work",
       'Art Competitions Mixed Music, Compositions For Solo Or Chorus',
       "Fencing Women's epee, Team",
       "Swimming Men's 4,000 metres Freestyle",
       "Swimming Men's Underwater Swimming", 'Sailing Mixed Skiff',
       "Shooting Men's Military Rifle, 200/500/600/800/900/1,000 Yards, Team",
       "Shooting Men's Running Target, Single And Double Shot",
       "Shooting Men's Small-Bore Rifle, Any Position, 50 metres",
       "Shooting Men's Small-Bore Rifle, Disappearing Target, 25 metres",
       "Swimming Women's 10 kilometres Open Water",
       "Cycling Men's Team Pursuit, 1,980 yards",
       "Cycling Men's 5,000 metres", "Cycling Men's 100 kilometres",
       "Cricket Men's Cricket",

Obtenha a lista de todos os países que já disputaram olimpíadas.

In [446]:
summer['Team'].unique()

array(['China', 'Denmark', 'Denmark/Sweden', ..., 'Dow Jones', 'China-3',
       'Digby'], dtype=object)

Qual atleta foi o maior medalhista (em medalhas totais) da história das olimpíadas de verão?

In [447]:
summer['Name'].value_counts().idxmax()

'Robert Tait McKenzie'

Qual atleta foi o maior medalhista de ouro da história das olimpíadas de verão?

In [448]:
summer_golds = summer.loc[summer['Medal'] == 'Gold']

summer_golds['Name'].value_counts().idxmax()

'Michael Fred Phelps, II'

Qual país foi o maior medalhista de ouro da história das olimpíadas de verão? Lembre-se da questão do evento esportivo, para não considerar múltiplas medalhas para um mesmo evento (ex: uma equipe de futebol fazendo parecer que mais de 20 medalhas foram distribuídas).

In [449]:
summer_golds_by_event = summer_golds.groupby(['Sport', 'Event', 'Year', 'Team'])['Medal'].count()

summer_golds_by_event = summer_golds_by_event.groupby('Team').cumcount() + 1

print(f'País: {summer_golds_by_event.idxmax()[3]} | Medalhas de ouro: {summer_golds_by_event.max()}')

País: United States | Medalhas de ouro: 997

Qual país foi o maior medalhista em medalhas totais na história das olimpíadas de verão?

In [450]:
summer_medals = df.dropna(subset = ['Medal'])

summer_medals_by_event = summer_medals.groupby(['Sport', 'Event', 'Year', 'Team'])['Medal'].count()

summer_medals_by_event_by_team = summer_medals_by_event.groupby('Team').cumcount() + 1

print(f'País: {summer_medals_by_event_by_team.idxmax()[3]} | Total de medalhas: {summer_medals_by_event_by_team.max()}')

País: United States | Total de medalhas: 2026

Obtenha o total de medalhas de ouro, prata e total por edição das Olimpíadas de verão. Lembre-se da questão do evento esportivo.

In [451]:
summer_medals_by_event = summer_medals.groupby(['Sport', 'Event', 'Year', 'Medal']).count()

summer_medals_by_event_by_medal = summer_medals_by_event.groupby(['Medal']).cumcount() + 1

summer_medals_by_event_by_medal.groupby(level=3).apply(max)

Medal
Bronze    6046
Gold      6146
Silver    6101
dtype: int64

## 3. Brasil vs Mundo

Para finalizar, vamos fazer algumas comparações entre Brasil e mundo. Qual o ranking do Brasil em cada edição das olimpíadas? Lembrando que o ranking é ordenado por medalhas de ouro.

In [452]:
summer_medals_golds = summer_medals.loc[summer_medals['Medal'] == 'Gold']

summer_medals_golds_by_event = summer_medals_golds.groupby(by = ['Sport', 'Event', 'Year', 'Team'])['Medal'].count()

summer_medals_golds_by_event_by_team = summer_medals_golds_by_event.groupby(['Team']).cumcount() + 1

summer_medals_golds_by_event_by_team = summer_medals_golds_by_event_by_team.groupby(level=3).apply(max)

summer_medals_golds_by_event_by_team_sorted = summer_medals_golds_by_event_by_team.sort_values(ascending=False)

brazil_position = [(index + 1) for (index, (team, medals)) in enumerate(summer_medals_golds_by_event_by_team_sorted.iteritems()) if team == 'Brazil'][0]

print(f'Posicao do Brasil em numero de medalhas de ouro: {brazil_position}ª')

Posicao do Brasil em numero de medalhas de ouro: 36ª

Compare o maior medalhista em ouros do Brasil com o maior medalhista em ouros do mundo.

In [453]:
summer_golds_brazil = summer.loc[(summer['Medal'] == 'Gold') & (summer['Team'] == 'Brazil')]

biggest_gold_medalist_in_the_world = (summer_golds['Name'].value_counts().idxmax(), summer_golds['Name'].value_counts().max())

biggest_gold_medalist_in_brazil = (summer_golds_brazil['Name'].value_counts().idxmax(), summer_golds_brazil['Name'].value_counts().max())

print(biggest_gold_medalist_in_the_world)
print(biggest_gold_medalist_in_brazil)

('Michael Fred Phelps, II', 23)
('Marcelo Bastos Ferreira', 2)

Compare o maior medalhista em total de medalhas do Brasil com o maior medalhista em total de medalhas do mundo.

In [456]:
summer_with_medals = summer.dropna(subset = ['Medal'])

summer_brazil = summer_with_medals.loc[(summer_with_medals['Medal'] == 'Gold') & (summer_with_medals['Team'] == 'Brazil')]

biggest_medalist_in_the_world = (summer_with_medals['Name'].value_counts().idxmax(), summer_with_medals['Name'].value_counts().max())

biggest_medalist_in_brazil = (summer_brazil['Name'].value_counts().idxmax(), summer_brazil['Name'].value_counts().max())

print(biggest_medalist_in_the_world)
print(biggest_medalist_in_brazil)

('Michael Fred Phelps, II', 28)
('Marcelo Bastos Ferreira', 2)

Compare o maior medalhista em ouros do Brasil com o maior medalhista do mundo no mesmo esporte.

In [610]:
summer_golds_brazil_by_name = summer_golds_brazil.groupby(['Sport'])['Name'].value_counts()

biggest_medalist_by_gold_in_brazil_by_sport_name = summer_golds_brazil_by_name.groupby(['Sport']).idxmax()

biggest_medalist_by_gold_in_brazil_by_sport_name = biggest_medalist_by_gold_in_brazil_by_sport_name.apply(lambda x: x[1])

biggest_medalist_by_gold_in_brazil_by_sport_name = biggest_medalist_by_gold_in_brazil_by_sport_name.reset_index()

biggest_medalist_by_gold_in_brazil_by_sport_medal = summer_golds_brazil_by_name.groupby(['Sport']).max()

biggest_medalist_by_gold_in_brazil_by_sport_medal = biggest_medalist_by_gold_in_brazil_by_sport_medal.reset_index()

biggest_medalist_by_gold_in_brazil_by_sport_medal.columns = ['Sport', 'Medal']

biggest_medalist_by_gold_in_brazil_by_sport = pd.merge(biggest_medalist_by_gold_in_brazil_by_sport_name, biggest_medalist_by_gold_in_brazil_by_sport_medal)

biggest_medalist_by_gold_in_brazil_by_sport

           Sport                                Name  Medal
0      Athletics           Adhemar Ferreira da Silva      2
1         Boxing               Robson Donato Conceio      1
2  Equestrianism             Rodrigo de Paula Pessoa      1
3       Football  Douglas dos Santos Justino de Melo      1
4     Gymnastics            Arthur Nabarrete Zanetti      1
5           Judo              Aurlio Fernndez Miguel      1
6        Sailing             Marcelo Bastos Ferreira      2
7       Shooting                  Guilherme Paraense      1
8       Swimming            Csar Augusto Cielo Filho      1
9     Volleyball    Fabiana "Fabi" Alvim de Oliveira      2

In [617]:
summer_golds_world_by_name = summer_medals_golds.groupby(['Sport'])['Name'].value_counts()

biggest_medalist_by_gold_in_world_by_sport_name = summer_golds_world_by_name.groupby(['Sport']).idxmax()

biggest_medalist_by_gold_in_world_by_sport_name = biggest_medalist_by_gold_in_world_by_sport_name.apply(lambda x: x[1])

biggest_medalist_by_gold_in_world_by_sport_name = biggest_medalist_by_gold_in_world_by_sport_name.reset_index()

biggest_medalist_by_gold_in_world_by_sport_medal = summer_golds_world_by_name.groupby(['Sport']).max()

biggest_medalist_by_gold_in_world_by_sport_medal = biggest_medalist_by_gold_in_world_by_sport_medal.reset_index()

biggest_medalist_by_gold_in_world_by_sport_medal.columns = ['Sport', 'Medal']

biggest_medalist_by_gold_in_world_by_sport = pd.merge(biggest_medalist_by_gold_in_world_by_sport_name, biggest_medalist_by_gold_in_world_by_sport_medal)

biggest_medalist_by_gold_in_world_by_sport

               Sport                              Name  Medal
0        Aeronautics                 Hermann Schreiber      1
1      Alpine Skiing                    Janica Kosteli      4
2           Alpinism                    Antarge Sherpa      1
3            Archery   Gerard Theodor Hubert Van Innis      6
4   Art Competitions        Jean Lucien Nicolas Jacoby      2
..               ...                               ...    ...
61        Tug-Of-War                Edwin Archer Mills      2
62        Volleyball  Alejandrina Mireya Luis Hernndez      3
63        Water Polo              Charles Sydney Smith      3
64     Weightlifting                Akakios Kakiasvili      3
65         Wrestling                        Kaori Icho      4

[66 rows x 3 columns]

In [622]:
aux_biggest_medalist_by_gold_in_world_by_sport = biggest_medalist_by_gold_in_world_by_sport.copy()

aux_biggest_medalist_by_gold_in_world_by_sport.columns = ['Sport', 'Name (World)', 'Medal (World)']

aux_biggest_medalist_by_gold_in_brazil_by_sport = biggest_medalist_by_gold_in_brazil_by_sport.copy()

aux_biggest_medalist_by_gold_in_brazil_by_sport.columns = ['Sport', 'Name (Brazil)', 'Medal (Brazil)']

biggest_medalist_by_gold_comparation = pd.merge(aux_biggest_medalist_by_gold_in_world_by_sport, aux_biggest_medalist_by_gold_in_brazil_by_sport, how='left')

biggest_medalist_by_gold_comparation

,Sport,Name (World),Medal (World),Name (Brazil),Medal (Brazil)
0,Aeronautics,Hermann Schreiber,1,NaN,NaN
1,Alpine Skiing,Janica Kosteli,4,NaN,NaN
2,Alpinism,Antarge Sherpa,1,NaN,NaN
3,Archery,Gerard Theodor Hubert Van Innis,6,NaN,NaN
4,Art Competitions,Jean Lucien Nicolas Jacoby,2,NaN,NaN
...,...,...,...,...,...
61,Tug-Of-War,Edwin Archer Mills,2,NaN,NaN
62,Volleyball,Alejandrina Mireya Luis Hernndez,3,"Fabiana ""Fabi"" Alvim de Oliveira",2.0
63,Water Polo,Charles Sydney Smith,3,NaN,NaN
64,Weightlifting,Akakios Kakiasvili,3,NaN,NaN
65,Wrestling,Kaori Icho,4,NaN,NaN

Compare o maior medalhista em total de medalhas do Brasil com o maior medalhista do mundo no mesmo esporte.

In [616]:
summer_medals_brazil = summer_medals.loc[summer_medals['Team'] == 'Brazil']

summer_medals_brazil_by_name = summer_medals_brazil.groupby(['Sport'])['Name'].value_counts()

biggest_medalist_in_brazil_by_sport_name = summer_medals_brazil_by_name.groupby(['Sport']).idxmax()

biggest_medalist_in_brazil_by_sport_name = biggest_medalist_in_brazil_by_sport_name.apply(lambda x: x[1])

biggest_medalist_in_brazil_by_sport_name = biggest_medalist_in_brazil_by_sport_name.reset_index()

biggest_medalist_in_brazil_by_sport_medal = summer_medals_brazil_by_name.groupby(['Sport']).max()

biggest_medalist_in_brazil_by_sport_medal = biggest_medalist_in_brazil_by_sport_medal.reset_index()

biggest_medalist_in_brazil_by_sport_medal.columns = ['Sport', 'Medal']

biggest_medalist_in_brazil_by_sport = pd.merge(biggest_medalist_in_brazil_by_sport_name, biggest_medalist_in_brazil_by_sport_medal)

biggest_medalist_in_brazil_by_sport

                Sport                                  Name  Medal
0           Athletics             Adhemar Ferreira da Silva      2
1          Basketball          Adriana Aparecida dos Santos      2
2              Boxing              Adriana dos Santos Arajo      1
3            Canoeing           Isaquias Queiroz dos Santos      3
4       Equestrianism               Rodrigo de Paula Pessoa      3
5            Football                   Ademir Roque Kaefer      2
6          Gymnastics              Arthur Nabarrete Zanetti      2
7                Judo                Aurlio Fernndez Miguel      2
8   Modern Pentathlon  Yane Mrcia Campos da Fonseca Marques      1
9             Sailing                        Robert Scheidt      5
10           Shooting                Afrnio Antnio da Costa      2
11           Swimming                  Gustavo Frana Borges      4
12          Taekwondo            Maicon de Andrade Siqueira      1
13         Volleyball    Srgio "Escadinha" Dutra dos Santos      4

In [623]:
summer_golds_world_by_name = summer_medals.groupby(['Sport'])['Name'].value_counts()

biggest_medalist_in_world_by_sport_name = summer_golds_world_by_name.groupby(['Sport']).idxmax()

biggest_medalist_in_world_by_sport_name = biggest_medalist_in_world_by_sport_name.apply(lambda x: x[1])

biggest_medalist_in_world_by_sport_name = biggest_medalist_in_world_by_sport_name.reset_index()

biggest_medalist_in_world_by_sport_medal = summer_golds_world_by_name.groupby(['Sport']).max()

biggest_medalist_in_world_by_sport_medal = biggest_medalist_in_world_by_sport_medal.reset_index()

biggest_medalist_in_world_by_sport_medal.columns = ['Sport', 'Medal']

biggest_medalist_in_world_by_sport = pd.merge(biggest_medalist_in_world_by_sport_name, biggest_medalist_in_world_by_sport_medal)

biggest_medalist_in_world_by_sport

               Sport                             Name  Medal
0        Aeronautics                Hermann Schreiber      1
1      Alpine Skiing               Kjetil Andr Aamodt      8
2           Alpinism                   Antarge Sherpa      1
3            Archery  Gerard Theodor Hubert Van Innis     10
4   Art Competitions           Alex Walter Diggelmann      3
..               ...                              ...    ...
61        Tug-Of-War               Edwin Archer Mills      3
62        Volleyball           Inna Valeryevna Ryskal      4
63        Water Polo                    Dezs Gyarmati      5
64     Weightlifting                   Nikolaj Pealov      4
65         Wrestling                Wilfried Dietrich      5

[66 rows x 3 columns]

In [624]:
aux_biggest_medalist_in_world_by_sport = biggest_medalist_in_world_by_sport.copy()

aux_biggest_medalist_in_world_by_sport.columns = ['Sport', 'Name (World)', 'Medal (World)']

aux_biggest_medalist_in_brazil_by_sport = biggest_medalist_in_brazil_by_sport.copy()

aux_biggest_medalist_in_brazil_by_sport.columns = ['Sport', 'Name (Brazil)', 'Medal (Brazil)']

biggest_medalist_comparation = pd.merge(aux_biggest_medalist_in_world_by_sport, aux_biggest_medalist_in_brazil_by_sport, how='left')

biggest_medalist_comparation

,Sport,Name (World),Medal (World),Name (Brazil),Medal (Brazil)
0,Aeronautics,Hermann Schreiber,1,NaN,NaN
1,Alpine Skiing,Kjetil Andr Aamodt,8,NaN,NaN
2,Alpinism,Antarge Sherpa,1,NaN,NaN
3,Archery,Gerard Theodor Hubert Van Innis,10,NaN,NaN
4,Art Competitions,Alex Walter Diggelmann,3,NaN,NaN
...,...,...,...,...,...
61,Tug-Of-War,Edwin Archer Mills,3,NaN,NaN
62,Volleyball,Inna Valeryevna Ryskal,4,"Srgio ""Escadinha"" Dutra dos Santos",4.0
63,Water Polo,Dezs Gyarmati,5,NaN,NaN
64,Weightlifting,Nikolaj Pealov,4,NaN,NaN
65,Wrestling,Wilfried Dietrich,5,NaN,NaN

Calcule o percentual de medalhas de ouro, prata e bronze que o Brasil ganhou em cada olimpíada.

In [633]:
summer_medals_brazil_percentual = summer_medals_brazil.groupby(['Sport', 'Event', 'Year', 'Medal']).count()

summer_medals_brazil_percentual = summer_medals_brazil_percentual.groupby(['Medal']).cumcount() + 1

summer_medals_brazil_percentual = summer_medals_brazil_percentual.groupby(level=3).apply(max)

total_brazil = summer_medals_brazil_percentual[0] + summer_medals_brazil_percentual[1] + summer_medals_brazil_percentual[2]

summer_medals_brazil_percentual.apply(lambda x: f'{round(x / total_brazil * 100, 2)} %')

Medal
Bronze     51.3 %
Gold      23.48 %
Silver    25.22 %
dtype: object